<div class="container">
  <h1 class="mt-3">Frequently asked questions</h1>
  <div class="alert alert-warning">
    Press Ctrl+F to find answers to your questions with your browser
  </div>
  <h3>Why are there illustrations I can't pick from even though they're in the Pixiv daily rankings?</h3>
  <div>The application only collects the top 50 illustrations from Pixiv daily rankings. Additionally, only
    illustrations that did not show up in
    the previous day's top 50 will be collected for users to choose from so that users won't
    receive the same wallpaper two days in a row. Therefore you will almost always get less than 50 images to choose
    from.<br>Additionally, illustrations involving adult contents are not collected by our application. See
    below for details.</div>
  <h3 class="mt-4">Will the application deliver adult/lewd/NSFW images?</h3>
  <div>No. But this depends on how Pixiv handle those images. By default, our application does not collect
    illustrations you'll need to log in to see them in higher resolutions. Pixiv restricts not-logged-in users from
    viewing images involving adult contents. I guess this filter won't work all the time so there's no guarantee.
    But even if you get an obscene wallpaper, it's not the application's fault.</div>
  <h3 class="mt-4">Why is the illustration I got in low resolution? Shouldn't it be in its original resolution?</h3>
  <div>The creator of this illustration only uploaded a low resolution version to Pixiv, therefore we cannot obtain a
    version
    with a higher resolution and the version you got is already "original". Please log into Pixiv and enlarge the
    illustration to confirm this.<br>
    You can use the application's built-in waifu2x to enlarge your wallpaper without sacrificing quality, although the
    enlarging process is a bit time-consuming.</div>
</div>