<div class="container">
  <div class="mt-5 text-center">
    <h2 class="mb-4">
      PixivWallpaper is a Windows application that delivers illustrations from <a href="https://www.pixiv.net/ranking.php?mode=daily&content=illust">Pixiv
        Daily Rankings</a> to your desktop
      every day.
    </h2>
    <img src="https://imgur.com/OkqTJv5.gif" />
    <h2 class="mt-3">
      This application uses a smart selection algorithm that selects the best illustration for your screen resolution.
      See our <a href="https://singf.space/pixiv/controls/demo">demo</a> here.
    </h2>
  </div>
</div>