.loader {
    border: 0.7em solid #f3f3f3; /* Light grey */
    border-top: 0.7em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 0.5s linear infinite;
    bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}